// Place all the styles related to the admin/dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.admin-sidepanel {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #09141e;
  min-width: 250px;
  color: #fff;
  padding: 20px;

  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    color: inherit;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  strong {
    text-transform: uppercase;
  }
}


.admin-maincontent {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;

  .container-fluid {
    padding: 20px;
  }
}

ul.sidepanel-sections {
  > li {
    margin-bottom: 1em;
  }
}

a.admin-resource-table-header-link {
  color: #fff;

  &:hover {
    color: #fff;
    text-decoration: none;
  }

  &:visited {
    color: #fff;
  }
}

.admin-sitecontainer {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.admin-footer {
  background-color: #09141e;
  color: #fff;
  width: 100%;
  padding: 20px;
}

.admin-footer-content {
  text-align: center;
  width: 100%;
}
