// Place all the styles related to the admin/study_iterations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.admin_collapse_link {
  color: white;

  &:hover {
    color: white;
  }
}

.admin-study-iteration-header {
  background: #fafafa;
  border-bottom: 1px solid #e1e4e8;

  .nav-tabs {
    border: none !important;
  }
}
