= render 'shared/layout/navbar/info'
= render 'shared/layout/navbar/patients'
= render 'shared/layout/navbar/study_calendar'
= render 'shared/layout/navbar/notifications'
= render 'shared/layout/navbar/account'
