/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require material_icons
 *= require flag-icon
 *= require_tree .
 *= require_self
 */

body {
  font-family: Lato, sans-serif !important;
  background: #fefefe !important;
}

.top-bar {
  a {
    font-size: 1.25em;

    &:hover {
      text-decoration: none;
    }
  }

  .national-study a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
  }
}

.landing-welcome {
  background: url("https://st2.depositphotos.com/3889193/8319/i/450/depositphotos_83197346-stock-photo-medical-team.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 600px;
}

.landing-description {
  min-height: 500px;
  background: #fff;

  p {
    line-height: 2;
    padding-bottom: 2em;
  }
}

.main-content {
  min-height: 100%;
  height: auto;
}

footer {
  width: 100%;
  background-color: #09141e;
  min-height: 300px;
}

hr.footer-spacer {
  background: #555;
  border: solid #555 1px;
}

ul.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.75;
}

.compact_form {
  max-width: 700px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.flash-message-wrapper {
  position: fixed;
  top: 40px;
  right: 100px;
  width: 500px;
}

.dropdown-menu {
  border-radius: 0 !important;
}

.btn {
  border-radius: 0 !important
}

.form-control {
  border-radius: 0 !important
}

.back-button {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.breadcrumbs-nav {
  height: 1.5em;
  background-color: #053071;
  font-size: 1em;
  color: #ccc;

  span {
    color: #ffe367;
    font-weight: bold;
  }

  a {
    font-weight: normal;
    text-decoration: none;

    color: #fff;

    &:hover {
      color: #fff;
    }
  }
}

.national-study {
  display: inline-block;
}

.national-flag {
  display: inline-block;
  margin-left: 20px;
  transform: scale(2);
}

.was-validated .form-control:valid, .form-control.is-valid {
  border-color: #28a745 !important;
}

.form-check-label {
  color: #28a745 !important;
}

.questionnaire {
  legend, label {
    font-weight: bold;
  }

  .card {
    border: 1px solid rgba(0, 0, 0, 0.3);
  }

  .card-body {
    background-color: rgba(0, 0, 0, 0.05);
  }

  ol {
    padding-left: 2em;
    padding-right: 2em;
    list-style-type: lower-roman;

    > li > ol > li {
      fieldset {
        margin-bottom: 0;
      }
    }

    ol {
      list-style-type: lower-latin;
      margin-bottom: 1em;
    }
  }

  small, .invalid-feedback {
    font-size: 1rem;
  }

  .question {
    font-weight: bold;
  }
}

.form-hint {
  width: 100%;
}

.form-valid {
  border-top: 2px solid #e8e0b8 !important;
  border-bottom: 2px solid #e8e0b8 !important;
}

.form-missing {
  border-top: 2px solid #91bec7 !important;
  border-bottom: 2px solid #91bec7 !important;
}

.form-invalid {
  border-top: 2px solid #d1a6aa !important;
  border-bottom: 2px solid #d1a6aa !important;
}
