/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require material_icons
 *= require_tree .
 *= require_self
 */

body {
  font-family: Lato, sans-serif !important;
}

.top-bar {
  a {
    font-size: 1.5em;

    &:hover {
      text-decoration: none;
    }
  }
}

.landing-welcome {
  background: url("https://st2.depositphotos.com/3889193/8319/i/450/depositphotos_83197346-stock-photo-medical-team.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 800px;
}

.landing-description {
  min-height: 500px;
  background: #fff;

  p {
    line-height: 2;
    padding-bottom: 2em;
  }
}

.main-content {
  min-height: 100%;
  height: auto;
}

footer {
  width: 100%;
  background-color: #09141e;
  min-height: 300px;
}

hr.footer-spacer {
  background: #555;
  border: solid #555 1px;
}

ul.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.75;
}

.compact_form {
  max-width: 700px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.flash-message-wrapper {
  position: fixed;
  top: 40px;
  right: 100px;
  width: 500px;
}

.dropdown-menu {
  border-radius: 0 !important;
}

.btn {
  border-radius: 0 !important
}

.form-control {
  border-radius: 0 !important
}

.back-button {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
