.box {
  margin-right: 2em;
  margin-bottom: 2em;
  padding: 2em;

  width: 300px;
  height: 300px;
}

.box.bg-primary {
  a {
    color: #fff;
    text-decoration: underline;
  }
}

.box.bg-success {
  a {
    color: inherit;
    text-decoration: underline;
  }
}

.sidepanel-section-items {
  margin-left: 1em;

  li {
    a {
      text-decoration: none;
    }
  }
}

