// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.landing-box {
  max-width: 800px !important;
}

.asciidoc {
  line-height: 1.5;
  h2 {
    font-size: 1.75rem;
    padding-top: 2rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  .note {
    background-color: #fff9e1;
    padding: 0.5rem;
    color: #857636;
    border-color: #fff7d4;
    border: 2px solid #e8e0b8;
  }

  td.icon {
    display: none;
  }
}
