p= "Dear #{@notification.recipient},"
p= "You are receiving this email because you have a new notification from the GPIU National Study."
p= render 'shared/notification_message', notification: @notification
= link_to "View all your notifications.", notifications_url
